@model BlogVM
@{
    Layout = null;
}



@foreach (Blog blog in Model.Blogs)
{

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="single-blog mb-60">
            <div class="blog-img">
                <a href="#"><img src="img/blog/@blog.Image" alt="blog"></a>
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                    <p>By @blog.Publisher  / @blog.Date.ToString("MMM dd, yyyy", CultureInfo.InvariantCulture)  /  <i class="fa fa-comments-o"></i> 4</p>
                </div>
                <div class="blog-bottom">
                    <h2><a href="blog-details.html">@blog.Header </a></h2>
                    <a href="blog-details.html">read more</a>
                </div>
            </div>
        </div>
    </div>
}


